<%- include('partials/header') %>

<div style="display: flex; align-items: center; justify-content: center; height: 100vh;">
  <div class="container">
    <div class="p-5 text-center bg-body-tertiary rounded-3">
      <i class="fas fa-key fa-4x"></i>
      <h1 class="display-3 mb-4">You've discovered my secret!</h1>
      <p style="text-align: center; font-size: 1.5rem; color: #fff; background-color: #000; margin-bottom: 2rem;">
        Aaaaaaaaaaaaa
      </p>
      <a class="btn btn-light btn-lg m-1" href="/logout" role="button">Log Out</a>
      <a class="btn btn-dark btn-lg" href="/submit" role="button">Submit a Secret</a>
    </div>
  </div>
</div>

<%- include('partials/footer') %>